div {
    display: block;
}

#pageContainer {
    width: auto;
    display: block;
    top: 0; right: 0; left: 0; bottom: 0;
    height: auto;
}

#restartButton {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    clear: both;
}

#clearButton {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    clear: both;
}

#restartButton {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    clear: both;
}

#etch_sketch {
    padding-top: 70px;
    margin-left: auto;
    margin-right: auto;
    height: 850px;
    width: 800px;
    background-color: blue;
    border-radius: 40px;
}

#grid {
    clear: both;
    display: grid;
    border: 1px solid black;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    height: 640px;
}

.cell {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white;
}

.multicolorCell {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: grey;
}

.hoverCell {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: black;
    opacity: 0.1;
}
