#pageContainer {
    width: auto;
    height: auto;
}

#grid {
    display: grid;
    grid-template-columns: repeat(16, 70px);
    width: 80%;
    height: 80%;
    margin: 30px auto;
    padding: 30px;
}

.cell {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 16px;
    background-color: blue;
}

.hoverCell {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 16px;
    background-color: red;
}
